body {
  background-image: linear-gradient(
      rgba(179, 172, 172, 0.7),
      rgba(179, 172, 172, 0.7)
    ),
    url("../images/b.jpg");

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;

  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  margin-left: 30px;
  flex: 1 0 auto;
}

footer {
  background-color: orange;
  flex: 0 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

a {
  color: rgb(172, 0, 172);
  font-family: Georgia, "Times New Roman", Times, cursive;
  text-decoration: none;
}

hr {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-width: 0 0 5px;
  border-style: solid;
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="orange" cx="1" cy="0.5" r="0.5"></circle></svg>')
    0 0 100% repeat;
  background-position: 50%;
  box-sizing: border-box;
}

.alligncenter {
  display: block;
  margin: auto;
}

h1 {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 48px;
  color: purple;
  text-align: center;
}

h2 {
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-size: 38px;
  color: purple;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: rgb(172, 0, 172);
}

ul,
ol {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

hr#boarder {
  height: 5px;
  background-color: orange;
}
.up_buttom {
  font-size: 20px;
  position: fixed;
  top: 470px;
  left: 5px;
  border: none;
  background: rgba(255, 166, 0, 0.363);
  text-align: center;
  padding: 5px;
  bottom: 208px;
  cursor: pointer;
  color: #333;
  font-family: verdana;
  border-radius: 5px;
}
.a_up {
  color: rgb(230, 230, 222);
}

.up_buttom:hover {
  background-color: orange;
}

.navbar {
  background-color: orange;
}

.navbar li a {
  color: #333;
}

.navbar li a:hover,
.navbar li a:focus {
  background-color: rgba(202, 189, 189, 0.9);
  color: #333;
}

.row {
  margin-top: 30px;
}

.dropdown-menu {
  background-color: orange;
  font-size: 20px;
}

.table {
  width: 30%;
  font-size: 20px;
}

.input-group {
  width: 50%;
}

.form-control {
  background-color: rgba(205, 202, 202, 0.9);
}

.btn {
  background-color: rgb(172, 0, 172);
  border-color: rgb(172, 0, 172);
  border-width: 3px;
}

.btn:hover {
  border-color: rgb(172, 0, 172);
  border-width: 3px;
}

.input-group-text {
  background-color: rgba(205, 202, 202, 0.9);
}
